*{
  box-sizing: border-box;
}

html, body{
  font-family: 'PT Sans', sans-serif;
  color: rgb(53,50,48);
  line-height: 1.4;
  margin: 0;
}
header{
  background-color:rgb(37,68,117);
  padding: 8px;
}

a{
  color: rgb(255,255,255);
  text-decoration: none;
}

.wrapper{
  padding-left: 1rem;

}
  #menu{
  display: none;
  text-align: center;
}

  #menu.show{
  display: block;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a{
  color: rgb(255,255,255);
  text-transform: uppercase;
  font-weight: bold;
  transition: 1s color ease;
}
nav a:hover{
  color: rgb(102,205,170);
}
#burger{
  background: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  outline: none;
  position: absolute;
  right: 10px;
  top: 11px;
}
button{
  margin-top: none;
  padding: none;
  top: 0;
}
.button{
  background: rgb(37,68,117);
  color: #fff;
  padding: 35px 0;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 1px rgba(255,255,255,1);
  transition: .5s all ease;
  margin: 1rem auto;
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
}

.button:hover{
    background: rgb(255,205,170);
  }

.buttons{
  display: block;
  margin: 1rem;
}

img{
  width: 30%;
  float: left;
  border-radius: 50%;
  margin: 2rem;
}

.intro{
  float: right;
  margin-left: 1rem;
  margin-right: 1rem;
}

.introtext{
  width: 60%
  float:right;
  margin-bottom: 5rem;
  margin-top: 4rem;
}

.main{
  margin-left: 1rem;
}

footer{
  clear: both;
  color: white;
  background-color:rgb(37,68,117);
}

footer a{
  color: white;
  transition: all .5s;
}

footer a:hover{
    color: rgb(102,205,170);
  }


@media (min-width: 768px){
  #menu{
    float: right;
    display: block;
  }
    header{
      height: 60px;
  }
  #menu li{
    float: left;
    margin-right: 20px;
  }

  #menu li:last-child{
    margin-right: 2rem;
  }
  #burger{
    display: none;
  }

  h1{
    margin-left: 2rem;
  }

.button{
  display: inline-block;
}

  .column{
    width: 49%;
    float: right;
    margin-bottom: 2rem;
  }
  .footermenu, .socialmedia{
    display: flex;
    vertical-align: middle;
  }

  .socialmedia{
    float: right;
    font-size: 2rem;
  }

  .footermenu{
    float: left;
  }
  footer .wrapper{
    height: 100px;
    justify-content: space-between;
    display: flex;
    bottom: 0;
  }

  footer li{
    margin: 0 .5rem;
    display: block;
  }

  footer ul{
    margin-top: 42px;
  }
}
